/* ----------------------------
/*  Name: Landing Page
    Author: Lucas
    Version: 1
/* -------------------------- */


body {
    background: rgb(34,195,156);
    background: linear-gradient(0deg, rgba(34,195,156,1) 22%, rgba(45,203,253,1) 100%); 
    font-family: 'Mulish', sans-serif;
    margin: 0;
    overflow-x: hidden;
}


header {
    margin: 50px 200px;
    font-size: 35px;
}

p {
    color:#7D7987;
}


.nav-options ul a {
    text-decoration: none;
    color: #1F1534;
    padding: 0.2rem 0.8rem;
    font-family: 'Dongle', sans-serif;
    
}

.nav-options ul a:hover {
    outline: 0;
    background-color: #1F1534;
    color:white;
    border-radius: 10px;
    transition: background-color 0.2s ease-in;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconMenu {
    display: none;
    position: absolute;
    /* left: 80vw; */
    left: 80vw;
    bottom: 92vh;
    color: white;
}
.navbar h2{ 
    color: #233348;
    font-size: 3rem;
    font-family: 'Dongle', sans-serif;
}

.content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}



.content-img img {
    width: 40vw;
}

.content-description {
    width: 50vw;
}
.content-description p {
    font-size: 1rem;
}

.content-description a {
    display: inline-block;
    text-decoration: none;
    background-color: #458FF6;
    border-radius: 55px;
    color:white;
    padding: 15px 25px;
    margin-top: 1rem;
    font-size: 1rem;
}

.content-description a:hover {
    background-color: #1b4a8c;
    transition: background-color 0.2s ease-in;
}


.page-1-background{
    background-image: url("./assets/images/page1-background.png");
    background-repeat: no-repeat;
}
.page-1 {
    margin: 50px 200px;
}


.page-1-description {
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: .9rem;
}
.page-1-description hr {
    width: 10%;
    background: black;
    border-radius: 5px;
}

/* .page-1-items{
    align-items: center;
    text-align: center;
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.learnMore {
    text-align: center;
}

.learnMore a {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 5rem;
    border: #458FF6;
    color: #458FF6;
    border-style: solid;
    border-radius: 5rem;
    border-width: .15rem;
    padding: 1rem 3rem;
}

.learnMore a:hover {
    background-color: #458FF6;
    color: white;
    transition: background-color 0.2s ease-in;
    }

.grid-item {
    background-color: white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

.grid-item p {
    margin: 20px;
    font-size: 15px;
    line-height: 30px;
    

}
.grid-item h1 {
    margin-left: 20px;
    font-size: 20px;
}

.grid-item img{
    margin:20px;
    width: 60px;
}

.page-2{
    margin: 50px 200px;
}

.content-1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.content-2 {
    display: flex;
}

.content-1-description {
    margin: 1rem 4rem;
    font-size: 1rem;
}

.content-1 hr {
    margin-left: 0;
    width:10%;
    border-radius: 10px;
}

.content-1-description a {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 1rem;
    border: #458FF6;
    color: #458FF6;
    border-style: solid;
    border-radius: 5rem;
    border-width: .15rem;
    padding: .5rem 3rem;
}

.content-1-description a:hover{
    background-color: #458FF6;
    color: white;
    transition: background-color 0.2s ease-in;
}

.content-1 img {
    width: 35vw;
}

.content-2 img {
    width: 35vw;
}
.content-2-description {
    margin: 1rem 4rem;
    font-size: 1rem;
}

.content-2 hr {
    margin-left: 0;
    width:10%;
    border-radius: 10px;
}

.content-2-description a {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 1rem;
    border: #458FF6;
    color: #458FF6;
    border-style: solid;
    border-radius: 5rem;
    border-width: .15rem;
    padding: .5rem 3rem;
}

.content-2-description a:hover{
    background-color: #458FF6;
    color: white;
    transition: background-color 0.2s ease-in;
}

footer{
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    padding: 0;
}

footer a:hover {
    color: darkblue;
    transition: background-color 0.2s ease-in;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    color:white;
    font-size: 1rem;
}



.footer-content h2{
    font-weight: 700;
}

.footer-description p{
    color:white;
    width: 50%;
}

.footer-company a {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}

.footer-region a {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}

.footer-help a {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    
}



.footer-description {
    display: flex;
    flex-direction: column;
}

.footer-company {
    display: flex;
    flex-direction: column;
}
.footer-region {
    display: flex;
    flex-direction: column;
}
.footer-help {
    display: flex;
    flex-direction: column;
}

@media (max-width: 700px) {
    header {
        margin: 0;
        font-size: 35px;
    }
    header h2 {
        margin: 0;
        background-color: #458FF6;
        font-size: 60px;
        width: 100%;
        border-radius: 0 0 20px 20px;
        text-align: center;
        
    }
    .navbar {
        flex-direction: column;
        align-items: center;


    }

    .nav-options {
        height: 100%;
    }

    .nav-options ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        overflow: hidden;
        background-color: #458FF6;
        position: relative;
        width: 100vw;


    }
    .navbar a {
        display: block;
    }

    .iconMenu {
        display: block;
        position: absolute;
        /* left: 80vw; */
        left: 80vw;
        bottom: 92vh;
        color: white;
    }

    .nav-options ul {
        display: none;
    }

    
    .content {
        flex-direction: column;
        align-items: center;
    }
    .content-description {
        width: auto;
        align-items: center;
        text-align: center;
    }
    .content-img img {
        width: 50vh;
    }
    .grid-container {
      grid-template-columns: repeat(1, 1fr); /* 1 column */
    }
    .page-1 {
        margin: 20px 20px;
    }
    .page-2 {
        margin: 20px 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        order:4;
        
    }
    .footer-description p{
        color:white;
        width: 100%;
    }
    .footer-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
        flex-direction: column;
        width: 200px;
        margin: 20px 20px;
        
    }
    .content-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-1 hr {
        width: 100%;
    }
    .content-2 hr {
        width: 100%;
    }
    .content-1 img {
        width: 50vh;
    }
    
    .content-2 img {
        width: 50vh;
    }

    .footer-company {
        align-items: center;
    }
    .footer-region {
        align-items: center;
    }
    .footer-help {
        align-items: center;
    }

  }
